extends _pug-includes/layout.pug

block content

    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Shopping cart'})
    - var heroHeading = 'Shopping cart'
    - var heroText = '<p class="lead text-muted">You have 3 items in your cart.</p> <p class="lead text-muted">For the checkout, you can use either a <a href="checkout1.html">Multiple pages checkout</a> or have everything on a <a href="checkout.html">single page</a>.</p>'
    
    include _pug-includes/inc-hero.pug
    
    // Shopping Cart Section
    section
        .container
            .row.mb-5 
                .col-lg-8.pr-xl-5
                    include _pug-includes/inc-checkout-cart-2.pug

                    .d-flex.justify-content-between.flex-column.flex-lg-row.mb-5.mb-lg-0
                        a.btn.btn-link.text-muted(href="category-full.html") <i class="fa fa-chevron-left"></i> Continue Shopping
                        a.btn.btn-link.text-primary(href="#") <i class="fa fa-sync"></i> Update cart                                  
                .col-lg-4
                    include _pug-includes/inc-checkout-summary-card.pug

                    //- include _pug-includes/inc-checkout-summary
                            

  
                
