extends _pug-includes/layout.pug

block content

    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Checkout'})
    - var heroHeading = 'Checkout'
    - var heroText ='<p class="lead text-muted">Please fill in your address.</p>'
    
    include _pug-includes/inc-hero.pug

    // Checkout
    section
        .container
            .row
                .col-lg-8

                    - var step = 0
                    include _pug-includes/inc-checkout-nav.pug

                    form(action="#")
                        
                            include _pug-includes/inc-customer-addresses.pug

                            .my-5.d-flex.justify-content-between.flex-column.flex-lg-row
                                a.btn.btn-link.text-muted(href="cart.html") 
                                    i.fa.fa-angle-left.mr-2
                                    | Back 
                                a.btn.btn-dark(href="checkout2.html")
                                    | Choose delivery method
                                    i.fa.fa-angle-right.ml-2
                        
                
                .col-lg-4
                    include _pug-includes/inc-checkout-summary-card.pug
                        
