extends _pug-includes/layout.pug

block content
   
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Checkout'})
    - var heroHeading = 'Checkout'
    - var heroText ='<p class="lead text-muted">Please review your order.</p>'
    
    include _pug-includes/inc-hero.pug   
                                    
    
    // Checkout
    section
        .container
            .row
                .col-lg-8
                    
                    - var step = 3
                    include _pug-includes/inc-checkout-nav.pug
                    
                    .mb-5
                        - var finalReview = true
                        include _pug-includes/inc-checkout-cart.pug
                                
                    .mb-5.d-flex.justify-content-between.flex-column.flex-lg-row
                        a.btn.btn-link.text-muted(href="checkout3.html") 
                            i.fa.fa-angle-left.mr-2
                            | Back to the delivery method
                        a.btn.btn-dark(href="checkout-confirmed.html")
                            | Place an order
                            i.fa.fa-angle-right.ml-2
                
                .col-lg-4
                    include _pug-includes/inc-checkout-summary-card.pug
                        
