extends _pug-includes/layout.pug

block vars
    - var active = 'customer-orders.html'  
    - var customerZone = true

block content
       
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Orders'})
    - var heroHeading = 'Your orders'
    - var heroText ='<p class="text-muted">Your orders in one place.</p>'

    include _pug-includes/inc-hero.pug     
        
    section.pb-6
        .container
            .row
                .col-lg-8.col-xl-9
                    - var orders = []
                    - orders.push({id: 1735, date: '22/6/2017', price: '$150.00', label: 'Being prepared', labelClass: 'badge-info-light'})
                    - orders.push({id: 1734, date: '7/5/2017', price: '$150.00', label: 'Action needed', labelClass: 'badge-warning-light'})
                    - orders.push({id: 1730, date: '30/9/2016', price: '$150.00', label: 'Received', labelClass: 'badge-success-light'})
                    - orders.push({id: 1705, date: '22/6/2016', price: '$150.00', label: 'Cancelled', labelClass: 'badge-danger-light'})

                    table.table.table-hover.table-responsive-md
                        thead.bg-light
                            tr
                                th.py-4.pl-4.text-sm.border-0 Order #
                                th.py-4.text-sm.border-0 Date
                                th.py-4.text-sm.border-0 Total
                                th.py-4.text-sm.border-0 Status
                                th.py-4.text-sm.border-0 Action
                        tbody
                            each val in orders
                                tr
                                    th.pl-4.py-5.align-middle # #{val.id}
                                    td.py-5.align-middle #{val.date}
                                    td.py-5.align-middle #{val.price}
                                    td.py-5.align-middle
                                        span(class="badge " + val.labelClass) #{val.label}
                                    td.py-5.align-middle
                                        a.btn.btn-outline-dark.btn-sm(href='customer-order.html') View

                include _pug-includes/inc-customer-sidebar.pug