.card
    .card-header
        h5.mb-0 Order Summary
    .card-body
        p.text-muted.text-sm.mb-4 Shipping and additional costs are calculated based on values you have entered.

        table.table.card-text

            tr
                th.py-4 Order Subtotal 
                td.py-4.text-right.text-muted $390.00
            tr
                th.py-4 Shipping and handling
                td.py-4.text-right.text-muted  $10.00
            tr
                th.py-4 Tax
                td.py-4.text-right.text-muted $0.00
            tr
                th.py-4 Total
                td.py-4.text-right.h3.font-weight-normal $400.00
