- var icons = ['checkout-cart-1', 'basket-1', 'paper-bag-1', 'map-marker-1', 'smartphone-1', 'dollar-sign-1', 'open-box-1', 'on-sale-sticker-1', 'pay-1', 'giftbox-1', 'store-1', 'pay-by-card-1']

.row
    each val in icons
        .col-3.col-md-2.d-flex.justify-content-center
            +svgIcon(val ,'w-3rem h-3rem mb-5 svg-icon-light text-dark')
