.card.border-0.mb-4(style="max-width: 300px;", data-aos='zoom-in')
    img.card-img-top(src=path + "img/product/chair3-3.jpg")
    .card-body
        p.card-text Zoom-in animation.
    
.card.border-0.mb-4(style="max-width: 300px;", data-aos='flip-up')
    img.card-img-top(src=path + "img/product/clock.jpg")
    .card-body
        p.card-text Flip-up animation.    