if (!breadcrumbClass)
    -var breadcrumbClass = ''

if (heroImage)
    - breadcrumbClass = 'no-border mb-0'

if (heroImage && !heroImageY)
    - heroImageY = "center"

if (!heroClass)
    - heroClass = ''

if (!heroHeadingClass)
    - var heroHeadingClass = 'hero-heading'    

// Hero Section
if (heroHeading && !heroImage)
    section.hero.py-6(class=heroClass)
        .container-fluid
            if (heroColumns)
                .row.px-xl-5  
                    div(class=heroColumns)
                        include inc-hero-content.pug

            else
                include inc-hero-content.pug
            
if (heroImage)
    section.hero.hero-image(data-parallax="scroll", data-image-src=heroImage, data-speed="0.5", data-position-x="center", data-position-y=heroImageY, data-bleed="20")
        .container
            include inc-hero-content.pug