// Login Modal    
#loginModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            button.close.close-absolute(type='button', data-dismiss='modal', aria-label='Close')
                    +svgIcon('close-1', 'w-3rem h-3rem svg-icon-light align-middle')                
            .modal-body.p-5
            
                ul.nav.list-inline(role='tablist')
                    li.list-inline-item
                        a.nav-link.nav-link-lg.active(data-toggle='tab', href='#loginModalTabLogin', role='tab', id="loginModalLinkLogin", aria-controls="loginModalTabLogin", aria-selected="true") Login
                    li.list-inline-item
                        a.nav-link.nav-link-lg(data-toggle='tab', href='#loginModalTabRegister', role='tab', id="loginModalLinkRegister", aria-controls="loginModalTabRegister", aria-selected="false") Register

                hr.mb-3

                .tab-content
                    #loginModalTabLogin.tab-pane.active.fade.show.px-3(role='tabpanel', aria-labelledby="loginModalLinkLogin")
                            form(action='customer-orders.html', method='get')
                                .form-group
                                    label.form-label(for='email') Email
                                    input#email.form-control(type='text')
                                .form-group
                                    .row
                                        .col
                                            label.form-label(for='loginPassword')  Password
                                        .col-auto
                                            a.form-text.small(href='#') Forgot password?
                                        
                                    input.form-control(name="loginPassword",  id="loginPassword", placeholder="Password", type='password', required, data-msg="Please enter your password")
                                .form-group
                                    .custom-control.custom-checkbox
                                        input#loginRemember.custom-control-input(type='checkbox')
                                        label.custom-control-label.text-muted(for='loginRemember') 
                                            span.text-sm Remember me for 30 days
                                .form-group
                                    button.btn.btn-block.btn-outline-dark(type='submit')
                                        i.fa.fa-sign-in-alt.mr-2
                                        |  Log in

                            hr.my-3.hr-text.letter-spacing-2(data-content="OR")
                            
                            .text-center
                                button.btn.btn.btn-outline-primary.letter-spacing-0(data-toggle="tooltip", title="Connect with Facebook")
                                    i.fa-fw.fa-facebook-f.fab
                                    span.sr-only Connect with Facebook

                                button.btn.btn.btn-outline-muted.letter-spacing-0(data-toggle="tooltip", title="Connect with Google")
                                    i.fa-fw.fa-google.fab
                                    span.sr-only Connect with Google

                    #loginModalTabRegister.tab-pane.fade.px-3(role='tabpanel', aria-labelledby="loginModalLinkRegister")
                        p.text-muted.text-sm #{dummyText[1].substr(0,100)}.                                            
                        form(action='customer-orders.html', method='get')
                            .form-group
                                label.form-label(for='registerName') Name
                                input#registerName.form-control(type='text')
                            .form-group
                                label.form-label(for='registerEmail') Email
                                input#registerEmail.form-control(type='text')
                            .form-group
                                label.form-label(for='registerPassword') Password
                                input#registerPassword.form-control(type='password')
                            .form-group.text-center
                                button.btn.btn-block.btn-outline-dark(type='submit')
                                    i.far.fa-user.mr-2
                                    | Register                       
                        hr.my-3.hr-text.letter-spacing-2(data-content="OR CONNECT WITH")
                        
                        .text-center
                            button.btn.btn.btn-outline-primary.letter-spacing-0(data-toggle="tooltip", title="Connect with Facebook")
                                i.fa-fw.fa-facebook-f.fab
                                span.sr-only Connect with Facebook

                            button.btn.btn.btn-outline-muted.letter-spacing-0(data-toggle="tooltip", title="Connect with Google")
                                i.fa-fw.fa-google.fab
                                span.sr-only Connect with Google                                      
                             
                