- var basketProducts = []
- basketProducts.push({name: 'Skull Tee', size: 'Large', color: 'Green', items: 4, itemPrice: '$65.00', totalPrice: '$260.00', image: 'img/product/product-square-ian-dooley-347968-unsplash.jpg'})
- basketProducts.push({name: 'Transparent Blouse', size: 'Medium', items: 3, itemPrice: '$55.00', totalPrice: '$165.00', image: 'img/product/product-square-kyle-loftus-596319-unsplash.jpg'})
- basketProducts.push({name: 'White Tee', size: 'Medium', items: 3, itemPrice: '$55.00', totalPrice: '$165.00', image: 'img/product/product-square-serrah-galos-494312-unsplash.jpg'})