nav.d-flex.justify-content-center.mb-5.mt-3(aria-label="page navigation")
    ul.pagination
        li.page-item
            a.page-arrow(href='#', aria-label='Previous')
                span(aria-hidden='true') 
                    +svgIcon('angle-left-1','page-icon')
                span.sr-only Previous
        li.page-item.active
            a.page-link(href="#") 1       
        li.page-item
            a.page-link(href="#") 2       
        li.page-item
            a.page-link(href="#") 3       
        li.page-item
            a.page-link(href="#") 4       
        li.page-item
            a.page-link(href="#") 5 
        li.page-item
            a.page-arrow(href='#', aria-label='Next')
                span(aria-hidden='true') 
                    +svgIcon('angle-right-1','page-icon')
                span.sr-only Next     
