.row
    .col-lg-6
        .card.mb-5.border-0.text-white.text-center.dark-overlay
            img.card-img(src=path + 'img/blog/ian-dooley-347962-unsplash.jpg', alt='Ladies')
            a.tile-link(href='category-full.html')  
            .card-img-overlay.d-flex.align-items-center
                .text-center.w-100.overlay-content
                    h2.display-4.font-weight-bold.text-uppercase.text-center.mb-0 Ladies                                               
    .col-lg-6
        .card.mb-5.border-0.text-center.light-overlay
            img.card-img(src=path + 'img/blog/ian-dooley-347962-unsplash.jpg', alt='Ladies')
            a.tile-link(href='category-full.html')  
            .card-img-overlay.d-flex.align-items-center
                .text-center.w-100.overlay-content
                    h2.display-4.font-weight-bold.text-uppercase.text-center.mb-0 Ladies   