- var categoryItems = []
- categoryItems.push({name: 'Jackets', imgCropped : 'img/product/category-jackets-2.jpg', img: '', alt: 'product', count: '40', link: 'category-full.html'})
- categoryItems.push({name: 'Coats', imgCropped : 'img/product/category-coats.jpg', img: '', alt: 'product', count: '20', link: 'category-full.html'})
- categoryItems.push({name: 'Dresses', imgCropped : 'img/product/category-dresses.jpg', img: '', alt: 'product', count: '15', link: 'category-full.html'})
- categoryItems.push({name: 'Overalls', imgCropped : 'img/product/category-overalls.jpg', img: '', alt: 'product', count: '10', link: 'category-full.html'})
- categoryItems.push({name: 'Skirts', imgCropped : 'img/product/category-skirts.jpg', img: '', alt: 'product', count: '33', link: 'category-full.html'})
- categoryItems.push({name: 'Shirts', imgCropped : 'img/product/category-shirts.jpg', img: '', alt: 'product', count: '12', link: 'category-full.html'})
- categoryItems.push({name: 'Shoes', imgCropped : 'img/product/category-shoes.jpg', img: '', alt: 'product', count: '1', link: 'category-full.html'})
- categoryItems.push({name: 'Bags', imgCropped : 'img/product/category-bags.jpg', img: '', alt: 'product', count: '1', link: 'category-full.html'})
- categoryItems.push({name: 'Bijoutery', imgCropped : 'img/product/category-bijoutery-2.jpg', img: '', alt: 'product', count: '1', link: 'category-full.html'})

