.row
    .col-lg-3.col-sm-6.py-4.service-column
        +svgIcon('delivery-time-1', 'service-icon')
        .service-text
            h6.text-sm.mb-1 Free shipping &amp; return
            p.text-muted.font-weight-light.text-sm.mb-0 Free Shipping over $300
        
    .col-lg-3.col-sm-6.py-4.service-column
        +svgIcon('money-1', 'service-icon')
        .service-text
            h6.text-sm.mb-1 Money back guarantee
            p.text-muted.font-weight-light.text-sm.mb-0 30 Days Money Back Guarantee

    .col-lg-3.col-sm-6.py-4.service-column
        +svgIcon('special-price-1', 'service-icon')
        .service-text
            h6.text-sm.mb-1 Best prices
            p.text-muted.font-weight-light.text-sm.mb-0 Always the best prices

    .col-lg-3.col-sm-6.py-4.service-column
        +svgIcon('customer-support-1', 'service-icon')
        .service-text
            h6.text-sm.mb-1 020-800-456-747
            p.text-muted.font-weight-light.text-sm.mb-0 24/7 Available Support
