.col-md-4.text-center.text-md-left.mb-4.mb-md-0
    
    h4 Address
    p.text-muted
        | 13/25 New Avenue
        br
        | New Heaven, 45Y 73J
        br
        | England, 
        strong Great Britain

.col-md-4.text-center.text-md-left.mb-4.mb-md-0
    
    h4 Call center
    p.text-muted Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p.text-muted
        strong +33 555 444 333

.col-md-4.text-center.text-md-left
    
    h4 Electronic support
    p.text-muted
        | Please feel free to write an email to us or to use our electronic ticketing system.
    ul.list-unstyled.text-muted
        li info@varkala.com
        li support@varkala.com