- var categoryIcons = [] 
- categoryIcons.push({name: 'Trousers', activeClass: 'active', showClass: 'show', count: 120, children: ['Lorem ipsum', 'Dolor', 'Sit amet', 'Donec vitae'], icon: 'trousers-1'})
- categoryIcons.push({name: 'Jackets', activeClass: '', showClass: '', count: 55, children:  ['Lorem ipsum', 'Dolor', 'Sit amet', 'Donec vitae'], icon: 'suit-1'})
- categoryIcons.push({name: 'T-Shirts', activeClass: '',showClass: '',  count: 33, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'shirt5-1'})
- categoryIcons.push({name: 'Shirts', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'shirt1-1'})
- categoryIcons.push({name: 'Pullovers', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'pullover-1'})
- categoryIcons.push({name: 'Scarfs', activeClass: '', showClass: '', count: 120, children: ['Lorem ipsum', 'Dolor', 'Sit amet', 'Donec vitae'], icon: 'scarf-1'})
- categoryIcons.push({name: 'Shorts', activeClass: '', showClass: '', count: 55, children:  ['Lorem ipsum', 'Dolor', 'Sit amet', 'Donec vitae'], icon: 'shorts1-1'})
- categoryIcons.push({name: 'Underwear', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'underwear1-1'})
- categoryIcons.push({name: 'Watches', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'watch-1'})
- categoryIcons.push({name: 'Bags', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'portfolio-1'})
- categoryIcons.push({name: 'Caps', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'cap-1'})
- categoryIcons.push({name: 'Accessories', activeClass: '',showClass: '',  count: 80, children:  ['Sit amet', 'Donec vitae', 'Lorem ipsum', 'Dolor'], icon: 'bowtie-1'})
