.card.mb-3
    .card-body
        h6.text-uppercase.mb-4 Button Colors
        button.mb-2.btn.btn-primary(type='button') Primary
        button.mb-2.btn.btn-secondary(type='button') Secondary
        button.mb-2.btn.btn-success(type='button') Success
        button.mb-2.btn.btn-danger(type='button') Danger
        button.mb-2.btn.btn-warning(type='button') Warning
        button.mb-2.btn.btn-info(type='button') Info
        button.mb-2.btn.btn-light(type='button') Light
        button.mb-2.btn.btn-dark(type='button') Dark
        button.mb-2.btn.btn-link(type='button') Link
.card
    .card-body
        h6.text-uppercase.mb-4 Button Sizes
        button.mb-2.btn.btn-dark.btn-lg(type='button') Large button
        button.mb-2.btn.btn-dark(type='button') Standard button
        button.mb-2.btn.btn-outline-dark.btn-sm(type='button') Small button