.row
    .col-md-6
        .card.mb-3
            img.card-img-top(src=path + 'img/blog/christopher-campbell-28571-unsplash.jpg', alt='Card image cap')
            .card-body
                h4.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-outline-primary(href='#') Go somewhere
    .col-md-6
        .card.bg-dark.text-white.dark-overlay
            img.card-img(src=path + 'img/blog/photo-1534126511673-b6899657816a.jpg', alt='Card image')
            .card-img-overlay.d-flex.align-items-center
                .overlay-content
                    h3.card-title.text-uppercase.font-weight-normal Card title
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    p.card-text Last updated 3 mins ago