.card.mb-3
    .card-body
        h2.mb-3
            | Example heading 
            span.badge.badge-danger-light New
        h3.mb-3
            | Example heading 
            span.badge.badge-primary-light New
        h4.mb-3
            | Example heading 
            span.badge.badge-warning-light New
        h5.mb-3
            | Example heading 
            span.badge.badge-info-light New
        h6.mb-0
            | Example heading 
            span.badge.badge-success-light New